{% extends 'base-admin.html.twig' %}

{% block title %}Edit Destination{% endblock %}

{% block body %}
    <h1>Edit Destination</h1>
    {{ include('Admin/destination/delete_form.html.twig') }}

    {{ include('Admin/destination/form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
