{% extends 'base-admin.html.twig' %}

{% block title %}New Destination{% endblock %}

{% block body %}
    <h1>Create new Destination</h1>
    {{ include('Admin/destination/form.html.twig') }}

{% endblock %}
